:root {
	--bg-color: #FFA800;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 18px;
}

.paper-decor {
	position: absolute;
	width: 100%;
    margin-top: 0;
	z-index: 1;
}

/* Header */
header {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: space-between;
	z-index: 1;
    background-color: white;
	align-items: center;
    margin: 0 auto;
}

header a {
    display: inline-block;
    vertical-align: top;
    margin: 0 17px;
    padding-top: 51px;
    position: relative;
    text-decoration: none;
    color: #060606;
    font-weight: 500;
}
nav {
	margin-right: 62px;
}
.nav-link:hover {
    font-weight: bold;
	cursor: pointer;
    text-decoration: none;
    border-bottom: 3px solid var(--bg-color);
    padding-bottom: 3px;
}

.language:hover {
	font-weight: bold;
	cursor: pointer;
}
.header-logo{
	margin-left: 62px;;
}

@media only screen and (max-width: 1299px){
	header{
		margin-top: -10px;
	}
	nav a{
		width: 10% !important;
		text-align: center;
	}
}
@media only screen and (max-width: 1108px){
	header a{
		margin: 5px 13px 0;
	}
}
@media only screen and (max-width: 1088px){
	header {
		height: 140px;
	}
	nav {
		padding-top: 60px !important;
	}
	header a{
		margin: -50px 13px 0;
	}
	.header-logo{
		margin-top: -20px;
	}
}

/* Intro */
.intro {
	position: relative;
	max-width: 100%;
}
.video {
	z-index: -1;
	width: 100%;
	max-width: 100%;
	height: auto;
}

.play-button {
	position: absolute;
	z-index: 2;
	filter: drop-shadow(0px 4px 20px #00000040);
	max-width: 100%;
	top: 40%;
	left: 45%;
}

.play-button:hover {
	cursor: pointer;
}
.center-text {
	width: 100%;
	align-items: center;
}

.center-text p{
    color: #2F4858;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
	padding: 150px 0;
	width: 47.2%;
	margin: 0 auto;
}

/* Photos */
.photos-row {
	display:flex;
	flex-direction:row;
	width:100%;
}
.photos-col {
	display:flex;
	flex-direction:column;
	width:100%;
}

.photos-inner {
	display:flex;
	flex-direction:column;
	padding-top: 1%;

}
#photo1 {
	width:25%;
}
#photo2{
	width: 25%;
}
#photo3{
	width: 22%;
}
#photo4{
	width: 28%;
}

.paper-decor-2 {
    position: absolute;
	width: 100%;
    margin-top: -3%;
}

/* Buttons */
.buttons {
	padding: 150px 0;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.btn-div {
	margin: 0 auto;
}
.btn-div p{
	font-family: 'Oswald';
	font-style: normal;
	font-size: 24px;
	text-align: center;
    font-weight: 500;
	color: #2F4858;
	text-transform: uppercase;
}

.btn-inner {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	width: 233px;
	height: 50px;
	background-color: var(--bg-color);
	border-radius: 25px;
	color: #fff;
}

.btn-inner:hover {
	background-color: #FFDA16;
	cursor: pointer;
}

.btn-inner:active {
	background-color: #ff8804;
}

/* Sazināties ar mums */

.input-title {
	color: #2F4858;
	text-align: center;
	font-family: Oswald;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	padding-bottom: 50px;
}

.input-fields {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 612px;
}
.input-fields input {
	display:flex;
	flex: 1;
	background-color: #c4c4c466;
	border: none;
	border-radius: 6px;
	color: #2F4858;
	font-family: 'Montserrat';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.27px;
	padding: 10px 20px;
	margin-bottom: 15px;
}

.input-rows {
	display: flex;
	flex-direction: row;
}
#name {
	margin-right: 20px;
}

textarea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #2F4858;
	font-family: 'Montserrat';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.27px;
	padding: 10px 20px;
	margin-bottom: 8px;
	height: 232px;
	background-color: rgba(196, 196, 196, 0.4);
	border: none;
	border-radius: 6px;
}

.comment {
	color: #2F4858;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 25px;
}

/* Checkbox */
.checkbox-row {
	display: flex;
	flex: 1;
	flex-direction: row;
}

.checkbox-inner {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	background: #E7E7E7;
	margin-right: 21px;
}

#checkbox-accept {
	opacity: 0;
	cursor: pointer;
}
.checkbox-inner:hover {
	background-color: var(--bg-color);
}

.checkbox-text{
	display: flex;
	flex: 1;
	color: #2F4858;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0 0 50px 0;
}

.submit-btn {
	margin: auto;
	text-align: center;
	display: flex;
	width: 182px;
	height: 62px;
	flex-direction: column;
	justify-content: center;
	background-color: var(--bg-color);
	border-radius: 35px;
	margin-bottom: 150px;
}

.submit-btn:hover {
	background-color: #FFDA16;
	cursor: pointer;
}

.submit-btn:active {
	background-color: #ff8804;
}

.submit {
	color: #FFF;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.paper4 {
    position: absolute;
	width: 100%;
	z-index: 3;
    margin-top: 0;
}
/* Supporters */
.supporters-div {
	background-color: #FFCB66;
	height: 450px;
}

.supporters-text {
	color: #2F4858;
	text-align: center;
	font-family: 'Oswald';
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 100px 0 89px;
}

.supporters-logos {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.logo1 {
	width: 320px;
	height: 100px;
	padding: 0 85px 20px 0;
}

/* Bottom part */
footer {
	width: 100%;
	background-color: #2F4858;
	margin: 0;
}

.bottom-info-rows {
	display: flex;
	flex-direction: row;
	padding: 80px 62px 13px 62px;
}

.bottom-info p{
	color: #FFF;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.info1 {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.info1 p{
	width: 182px;
	padding-top: 70px;
	font-size: 14px;
	margin-bottom: 0;
}

.info2 {
	display:flex;
	flex-direction: column;  
	margin-left: 137px;	
	text-align:left;
}

.info2 p{
	padding-bottom: 21px;
	margin: 0;
	width: 182px;
}

.info3 {
	display:flex;
	flex-direction: column;  
	margin-left: 82px;	
	text-align:left;
}

.info3 p{
	font-size: 18px;
	margin: 0;
	padding-bottom: 10px;
}

.info3 p:first-of-type{
	padding-bottom: 22px;
	font-size: 24px;
}

.info4 {
	display: flex;
	flex-direction: column;	
	text-align: right;
	flex: 1;
}

.info4 p{
	margin: 0;
	padding-bottom: 10px;
	font-size: 18px;
}

.info4 p:first-of-type{
	padding-bottom: 22px;
	font-size: 24px;
}

.icons {
	padding: 52px 0;
}

.info4 img:first-of-type{
	margin-right: 29px;	
}

.info4 p:last-of-type{
	font-size: 14px;
}

.hidden, .moved-text, .nav-x {
	display: none;
}

@media only screen and (max-width: 1159px){
	.info2, .info3 {
		margin-left: 30px;
	}
	.bottom-info-rows {
		padding-left: 30px;
	}
	.logo1 {
		padding: 0;
		margin-right: 50px;
		width: fit-content;
	}
	
}

@media only screen and (max-width: 974px){
	.info2, .info3 {
		display: none;
	}
	.hidden {
		display: inline;
		padding-bottom: 35px;
		font-family: 'Montserrat';
		line-height: 22px;
		font-weight: 700 !important;
	}
	.supporters-logos {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		align-items: center;
	}
	.logo1 {
		margin-top: 20px;
	}
	.logo1, .logo2 {
		margin: 0 70px;
	}
	.logo2 {
		margin-top: 30px;
	}
	.supporters-text {
		padding: 40px 0;
	}
}

/* For mobile version */
@media only screen and (min-width: 319px) and (max-width: 750px){
	nav, .info1 p, .info2, .info3 {
		display: none;
	}
	.nav-x {
		display: inline !important;
		margin: -40px 30px 0 0;
	}
	.play-button {
		top: 35%;
		left: 35%;
		width: 30%;
		height: 30%;
	}
	.center-text p{
		width: 280px !important;
		padding: 80px 0 !important;
		font-size: 12px;
	}
	.photos-col {
		display: flex;
		flex-direction: column;
	}
	.buttons {
		flex-direction: column !important;
		padding-bottom: 70px;
	}
	.btn-div {
		margin-top: 0 !important;
		margin-bottom: 80px;
		font-size: 18px;
	}
	.buttons-inner{
		margin-top: 30px !important;
	}
	.input-title {
		font-size: 24px;
	}
	.comment, .checkbox-text {
		font-size: 12px;
	}
	.input-fields {
		padding: 0 20px !important;
		width: auto !important;
	}
	.input-rows {
		flex-direction: column !important;
	}
	#name {
		margin-right: 0 !important;
	}
	.supporters-div {
		height: 370px !important;
	}
	.supporters-logos {
		display: flex;
		flex-wrap: wrap;
	}
	.supporters-text {
		padding-bottom: 20px;
	}
	.logo1 {
		width: 100px;
		height: 42px;
	}
	.logo2 {
		width: 50px;
		height: 71px;
	}
	.logo1, .logo2 {
		margin: 20px 10px 0 20px;
	}
	.bottom-info-rows {
		flex-direction: column !important;
		padding: 40px 0 0 20px;

	}
	.golden-logo {
		align-self: flex-start;
		padding: 30px 0 25px;
	}
	
	.info4 {
		padding: 0 0 30px 20px;
		text-align: left;
	}
	.info4 p{
		padding-bottom: 10px;
		font-size: 12px;
	}
	.info4 p:first-of-type{
		font-size: 18px;
		padding-bottom: 30px;
	}
	.info4 p:last-of-type{
		font-size: 11px;
	}
	.moved-text {
		display: inline;
		color: #FFF;
		font-family: 'Montserrat';
		font-size: 11px;
		font-weight: 500;
	}
	.hidden {
		font-size: 14px !important;
		font-weight: 700 !important;
	}
	.icons {
		padding: 35px 0;
	}
}
